@import "../../theme/color";


.detailCompanies {
  ion-icon {
    font-size: 4em;
  }
  .name{
    background-color: $first-gradient;
  }
  .siren{
    background-color: $second-gradient;

  }
  .adress{
    background-color: $third-gradient;

  }
  .postalcode{
    background-color: $fourth-gradient;
  }
  .city{
    background-color: $fifth-gradient;

  }
  .category{
    background-color: $sixth-gradient;

  }
  .activity{
    background-color: $seventh-gradient,

  }
  .effectif{
    background-color: $eigth-gradient;

  }
}
