$white: #FFFFFF;
$grey: #C8C7CC;
$sidebar-content-grey: #989898;
$dark: #424242;

$first-gradient: #FF9B01;
$second-gradient: #97CB07;
$third-gradient: #1D9FDF;
$fourth-gradient: #3067C9;
$fifth-gradient: #692FC9;
$sixth-gradient: #AA35CA;
$seventh-gradient: #CC318C;
$eigth-gradient: #CC0004;
$nineth-gradient: #CB6603;
